main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
}

input, textarea::placeholder{
    text-align: center;
}

#articles{
    margin-left: 5vw;
}

#article_form {
    display: flex;
    flex-direction: column;
    width: 24em;
}

#article_form #button {
    width: 50%;
    align-self: center;
}

#msg {
    color: red;
}

.delete, .edit{
    cursor: pointer;
}
#delete{
    color: red;
    text-emphasis: bold;
    cursor: pointer;
}

#desc {
    height: 60px;
}